# Plugins / tool output
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.dart_tool/**
**/devtools_options.yaml

# Flutter build output
**/build/

# iOS / macOS CocoaPods
app/ios/Podfile
app/ios/Podfile.lock
app/macos/Pods/

# macOS project (if you don't care about desktop)
app/macos/

# Terraform
**/.terraform/*
*.auto.tfvars
*.tfoverride
.envrc
.terraformrc
terraform.rc

# Env files (Flutter will still need app/.env locally)
*.env
